<h1>This is the secret page!!!</h1>

<p>You found me</p>

<img src="https://farm9.staticflickr.com/8143/7626450034_4e9fd2be2c.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>